%h1#headline
  - if ITunes.playing?
    Playing
    %span#current_track= ITunes.current_track.description
    %span#time
      = ITunes.time_left_in_current_track
  - else
    = ITunes.state.to_s.titleize

- if @poll
  #poll{:poll_id => @poll.id}
    - @poll.choices.each do |choice|
      %div[choice]
        %div{ :class => "bar #{choice.identifier.downcase}", :style => "width: #{choice.vote_percentage * 10}px"}
          %strong.percentage= number_to_percentage(choice.vote_percentage, :precision => 0)      
        .track== #{choice.identifier}. #{choice.track.description}
  #clouds
    #promo
      %h1 Vote on Twitter for the next song!
      %h2
        Follow
        = "@#{configatron.twitter.username}"
        on Twitter and then direct message
        with the letter of the song you want to hear (A, B, or C).
      %h1= "example: d #{configatron.twitter.username} B"
      
    #tweets
      - @poll.recent_votes.each do |vote|
        .vote{:record_id => vote.id}
          %span.user
            = "@" + h(vote.twitter_user)
          voted for
          %span{ :class => vote.choice.identifier.downcase }
            = vote.choice.identifier
