html, body {
  height: 100%; }

body {
  margin: 0;
  font-family: Helvetica;
  font-size: 12px; }

#content {
  height: 280px;
  margin: 0 auto;
  width: 780px; }

.left {
  float: left; }

.right {
  float: right; }

.clear {
  clear: both; }

.track {
  font-size: 28px;
  height: 70px;
  line-height: 70px;
  left: 0;
  top: 0;
  position: absolute;
  padding-left: 100px;
  white-space: nowrap; }

.track.playing {
  font-weight: bold; }

.bar {
  font-size: 28px;
  height: 70px;
  line-height: 70px;
  left: 0;
  top: 0; }

.a {
  background: #F97BC9;
  border: 1px solid #F97BC9; }

.b {
  background: #FBB117;
  border: 1px solid #FBB117; }

.c {
  background: #3BB9FF;
  border: 1px solid #3BB9FF; }

.percentage {
  padding-left: 10px; }

.choice {
  position: relative; }

#headline {
  text-align: center; }

#promo {
  text-align: center;
  font-size: 18px;
  padding: 5px;
  width: 370px;
  height: 325px;
  float: left; }
  #promo h1 {
    font-size: 1.7em; }
  #promo h2 {
    font-size: 1.3em; }

#poll {
  margin-bottom: 15px; }

#tweets {
  float: right;
  width: 370px;
  height: 325px;
  padding: 5px 5px;
  font-size: 2em;
  font-family: 'Lucida Grande',sans-serif;
  font-weight: bold; }
  #tweets .user {
    color: #004B66; }

.vote {
  padding: 3px 0; }

#clouds {
  background: url('/images/twitter.gif');
  overflow: hidden; }
