!!!Strict
%html{html_attrs('en')}
  %head
    %meta{'http-equiv' => 'content-Type', :content => 'text/html; charset=utf-8'}/
    = javascript_include_tag 'jquery', 'jquery.timers', 'application'
    = stylesheet_link_tag 'application'

    %title DJ Tweetz
  %body
    #content
      #main= yield
